<footer class="navbar navbar-fixed-bottom" style="background-color:#414d60">
    <p style="color:white; text-align:center; margin-top:15px" >
      &copy; 2016 | Lab4
    </p>
</footer>
</body>
</html>
