<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
  <style media="screen">


    .navbar .navbar-nav {
    display: inline-block;
    float: none;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }

    .navbar-inverse  {
      border-radius: 0 !important;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse nav-top" role="navigation">
    <div class="collapse navbar-collapse ">
      <ul class="nav navbar-nav">
        <li><a href="/lucas">Lucas</a></li>
        <li><a href="/rosa">Rosa</a></li>
        <li><a href="/geovani">Geovani</a></li>
        <li><a href="/bruna">Bruna</a></li>
        <li><a href="/arthur">Arthur</a></li>
      </ul>
    </div>
  </nav>
