<%- include partials/header.ejs %>

<div class="container" style="background-color:#f4f5f7">
  <h1>Arthur Ossanai Schoenardie</h1>

  <p>
    <em><strong>Parents:</strong></em> Simone Ossanai Schoenardie and Geovani Alonsio Schoenardie
    <br><em><strong>Siblings:</strong></em> Bruna Ossanai Schoenardie and Lucas Berte Schoenardie
    <br><br>Arthur is an extremely smart young med school student such as his sister Bruna. He was born deaf and has an implant on his left inner ear.
    Even though he can't hear and speak as clearly as other people, he bravely made his way to the super competitive med school and dreams of living in Japan one day.
    Arthur loves videogames, mangas and animes, hence his passion for Japan.
  </p>
</div>

<%- include partials/footer.ejs %>
