<%- include partials/header.ejs %>

<div class="container" style="background-color:#f4f5f7">
  <h1>Lucas Berte Schoenardie</h1>

  <p>
    <em><strong>Parents:</strong></em> Rosa Cristina Berte and Geovani Alonsio Schoenardie
    <br><em><strong>Siblings:</strong></em> Bruna Ossanai Schoenardie and Arthur Ossanai Schoenardie
    <br><br>Lucas is a mining engineer who fell in love with computer programming. He then decided to move in to Canada on the pursuit of a new life and career.
    He is a computer programmer analyst student at Georgian College - Barrie - Ontario.
  </p>
</div>


<%- include partials/footer.ejs %>
