<%- include partials/header.ejs %>

<div class="container" style="background-color:#f4f5f7">
  <h1>Rosa Cristina Berte</h1>

  <p>
    <em><strong>Parents:</strong></em> Natalina Caumo Berte and Ivalino Berte
    <br><em><strong>Siblings:</strong></em> Jaqueline Berte, Renato Ivo Berte and Ivan Carlos Berte
    <br><br> Rosa is a retired bank teller. She worked her whole life for Banco do Brasil and, even though she never practiced, she graduated in Law School as well.
    She really enjoys playing MMORPGs (something that her son Lucas finds really fun and interesting about her) and she loves handicrafting.
  </p>
</div>

<%- include partials/footer.ejs %>
